{% extends 'base.html.twig' %}
{% block title%} Liste des Articles{% endblock %}

{% block body %}
<h4 style=" display: flex; justify-content: center;">Nos articles</h2>

 {% if prod %}
    <table id="produit" class="table table-striped">
      <thead>
       
       
      </thead>
      <tbody>
      
        {% for prods in prod %}


       <div class="col-4 pt-3" >
<div class="card">
    <div class="card text-center">
     <div class="card-header">
           {{prods.getNom() }}

      </div>
    <div class="card-body">
<span class="badge badge-pill badge-primary">prix : {{prods.getPrix()}} DT <span class="fa fa-thumbs-up"></span></span></ng-container>

    </div>
    <div class="card-footer text-muted">
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  details
</button>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">details {{prods.getNom()}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<span class="badge badge-pill badge-primary">prix : {{prods.getPrix()}} DT <span class="fa fa-thumbs-up"></span></span></ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        
    </div>
    <div class="card-footer text-muted">
        <button type="button" class="btn btn-primary" >ajouter panier</button>
        
    </div>
</div>
  </div>
</div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucun article</p>
  {% endif %} 
  
{% endblock %}
