{% extends 'base.html.twig' %}
{% block title%} Liste des Articles{% endblock %}

{% block body %}
<h4 style=" display: flex; justify-content: center;">Nos articles</h2>

 {% if prod %}
    <table id="produit" class="table table-striped">
      <thead>
       
       
      </thead>
      <tbody>
      <div class="row" id="rowCard">
 {% for prods in prod %}
            <div class="col-sm-2" id="cardAnimal">
                <div class="card border-info mb-3 shadow p-3 mb-5" style="width: 11rem;">
                    <div class="card-header bg-transparent" >
                     <h5 style="text-align:center;">   {{prods.getNom()}}</h5>
                    </div>
                        <div class="card-body text-center">
                          <img src="{{prods.getImage()}}" width='70px' height='70px'><br>
                        <span class="badge badge-pill badge-primary"> Prix :   {{prods.getPrix()}} DT <span class="fa fa-thumbs-up"></span></span></ng-container>

                        {% if prods.getQtite() ==0 %}
                        
                        <span class="badge badge-pill badge-danger">Disponible <span class="fa fa-thumbs-up"></span></span></ng-container>
                          {% else %}
                        <span class="badge badge-pill badge-primary">Disponible <span class="fa fa-thumbs-up"></span></span></ng-container>
                         {% endif %} 


                        </div>
                    <div class="card-footer  text-center ">
                        <button type="button" class="btn btn-info" style="float:" >add panier</button>
                    </div>
                </div>
            </div>
        
       


      
        {% endfor %}
        </div>
      </tbody>
    </table>
  {% else %}
    <p>Aucun article</p>
  {% endif %} 
  
{% endblock %}
