{% extends 'base.html.twig' %}
{% block title%} Liste des Articles{% endblock %}

{% block body %}
<h2>liste des articles</h2>

 {% if produits %}
    <table id="produit" class="table table-striped">
      <thead>
       
        <tr>
          <th>id</th>
          
        </tr>
      </thead>
      <tbody>
        {% for produit in produits %}
          <tr>
            <td>{{ produit.id}}</td>
            
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucun article</p>
  {% endif %} 
  
{% endblock %}
*/