{% extends 'base.html.twig' %}



{% block body %}
<div style=" margin-right:450px; margin-left:450px; margin-top:50px;  padding-right:80px;padding-left:80px;
padding-bottom:10px;padding-top:10px;
 background-color:#F4F6F6; box-shadow: 5px 10px;">
     <h1 class="h3 mb-3 font-weight-normal">Please registrate</h1>

 {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
{% endblock %}