{% extends 'base.html.twig' %}
{% block title%} Liste des Articles{% endblock %}

{% block body %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Gest">Produits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Commandes</a>
  </li>
  
</ul>
{% endblock %}