<nav class="navbar navbar-expand-lg navbar-light bg-light">
<img src="image/logo.png" width='80' height='50' ><br>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Acceuil</a>
      </li>
    
    </ul>  
  </div>
  
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
        <a class="nav-link" href="/inscri">Login</a>
      </li>     

           <a href="/panier"><img src="image/panier.png" style="width:80px;height:50px;"></a>

      </ul>
    
</nav>